/data/intermediate
/etc
/test
/output
/amplisas-analysis/results_amplicheck
/amplisas-analysis/results_amplisas/*
!/amplisas-analysis/results_amplisas/results.xlsx
*DS_Store
data/raw/*fastq.gz
.Rproj.user
/manuscript/
/.Rhistory
*.Rhistory

